
#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: blue;
}

#image{
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;  
}

#choiceOne{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;

    color: black;
}

#choiceTwo{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;

    color: black;
}

#choiceThree{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;

    color: black;
}

#choiceFour{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;
    color: black;
}

#identify{
    font-size: 30px;
    font-weight: bold;
}

#ee{
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

#rowOne{
    margin-top: 200px;
}

#rowTwo{
    
}

#answerChoice{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px;
    color: black;
}

#nn{
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 800px;
}

#nextButton{

}

#rr{
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 800px;
}

#resultsButton{

}

#quizNav{

}

.symbol-style{
    background-color: red;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}

.img-chord {
    width: 400px;
    height: 550px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1;
}

.chord-loc-style{
    opacity: .10;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 250px;
    z-index: -1;
    background-color: blue;
}

#chordimage img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.learn-chord-header {
    font-size: 30px;
    font-weight: bold;
}

.chord-button {
    margin-top: 20px;
    width: 70px;
    height: 50px;
    background-color: tan;
    border-color:red;
    border: 2px solid rgb(243, 238, 238);
    font-weight: bold;
    border-radius: 20%;
}

.row-border {
    border-width: 5px;
    border-bottom: solid;
    border-color: black;
    padding: 5px;
}

.chord-image-style {
    width: 350px;
    height: 500px;
}

.chord-board {
    margin-left: 2px;
    width: 500px;
    height: 500px;
}

.home {
    background-color: navy;
    padding: 150px;
    color: white;
}

.home-header {
    font-size: 70px;
    font-weight: bold;
}

.home-button {
    background-color: white;
    border-radius: 5%;
    width: 200px;
    height: 70px;
    font-size: 25px;
    color: black;
    margin-right: 10px;

}

#correctIncorrect{
    margin-left: 780px;
    font-weight: bold;
    font-size: 30px;
}

