
#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: blue;
}
.btn{
    background-color: white !important;
    border: solid 1px #e07a5fff !important;
    color: #e07a5fff !important;

}
.btn:hover{
    background-color: #e07a5fff !important;
    border: solid 1px #e07a5fff !important;
    color: white !important;
}
.btn:active{
    background-color: #e07a5fff !important;
    border: solid 1px #e07a5fff !important;
    color: white !important;
}
.btn:focus{
    background-color: #e07a5fff !important;
    border: solid 1px #e07a5fff !important;
    color: white !important;
}
#image{
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
}

#choiceOne{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;

    color: black;
}

#choiceTwo{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;

    color: black;
}

#choiceThree{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;

    color: black;
}

#choiceFour{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;
    color: black;
}

#identify{
    font-size: 30px;
    font-weight: bold;
}

#ee{
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
  width: 100px;
  height: 40px;
}

#check_but {
    background-color:grey;
    border-radius: 8px;
    border-width: 0;
    color: blue;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
    width: 100px;
    height: 40px;
}

.fixed_label{
    position: absolute;
    top: 45px;
    left: 31px;
}

#learning-correct-text {
    color: green;
    font-weight: bold;
    top: 102%;
    left: 28%;
    position:absolute;

}

#learning-incorrect-text {
    color: red;
    font-weight: bold;
    top: 102%;
    left: 28%;
    position:absolute;
}

.fixed_question{
    position: absolute;
    top: 50px;
    left: 450px;
}
#rowOne{
    margin-top: 200px;
}

#rowTwo{

}

#answerChoice{
    font-size: medium;
    background-color: white;
    width: 200px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px;
    color: black;
}

#nn{
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 800px;
}

#nextButton{
    visibility: hidden;
}

#rr{
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 800px;
}

#resultsButton{
    visibility: hidden;
}

#quizNav{

}

.symbol-style{
    background-color: #e07a5fff;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    position: relative;
    z-index: 1;
    margin-right: 10px;
}

.img-chord {
    width: 400px;
    height: 550px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1;
}

.img-chord-correct {
    width: 250px;
    height: 350px;
}

.chord-loc-style{
    opacity: .10;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 250px;
    z-index: -1;
    background-color: blue;
}

#chordimage img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}


#recreate_msg{
    color: grey;
    font-size: 22px;
    font-weight: bold;
}

.symbol_inline{
    display: inline-block;
}

.learn-chord-header {
    font-size: 30px;
    font-weight: bold;
}

.chord-button {
    margin-top: 20px;
    width: 70px;
    height: 50px;
    border-color:red;
    border: 2px solid rgb(243, 238, 238);
    font-weight: bold;
    border-radius: 20%;
    background-color: #f4f1de;
    color: #3d405b;
    filter: drop-shadow(2px 2px 0px #e07a5fff)
}

.row-border {
    border-width: 5px;
    border-bottom: solid;
    border-color: black;
    padding: 5px;
}

.chord-image-style {
    width: 350px;
    height: 500px;
}

.chord-board {
    margin-left: 2px;
    width: 250px;
    height: 350px;
}

.chord-board_learn {
    width: 250px;
    height: 350px;
    margin-left : 30px;
}

.home {
    background-color: #3d405b;
    /* background-image: url(images/homebg.png); */
    padding: 150px;
    color: #f4f1de;
}

.home-header {
    font-size: 100px;
    font-weight: 800;
    font-family: 'Public Sans', sans-serif;
    font-style: italic;
    filter: drop-shadow(2px 2px 0px #e07a5fff);
}
.homedesc{
    font-size: 20px;
    width: 500px;
}
body{
    font-family: 'Public Sans', sans-serif;
}
.home-button {
    background-color: #f4f1de;
    border-radius: 7.5%;
    width: 180px;
    height: 70px;
    font-size: 20px;
    color: #3d405b;
    margin-right: 10px;
    font-weight: 500;
    filter: drop-shadow(2px 2px 0px #e07a5fff)
}

#correctIncorrect{
    margin-left: 780px;
    font-weight: bold;
    font-size: 30px;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.MC-option{
    background-color: white;
    border-color: lightgrey;
    width: 40%;
    height: 60px;
    margin: 3px;
    border-radius: 10px;
}
.MC-correct{
    background-color: green
}
.MC-incorrect{
    background-color: green
}

.togglebut {
    width: 35px;
    height: 35px;
    padding: 0px;
    font-size: 22px;
    margin-left:8px;
}

.togglebut_learn{
    width: 35px;
    height: 35px;
    padding: 0px;
    font-size: 22px;
    margin-left:8px;
}
#slide2-text1{
    margin-top: 150px;
    padding: 0px;
}
#slide2-text2{
    margin-top: 150px;
}
.bgimages{
    text-align: center;
}
#slide3-text{
    margin-top: 150px;
}

#bg-body{
    height: 500px;
}
.bgnav{
    margin-left: 10px;
}
.qnumber{
    width: 500px;
}
.button-row{
    float: right;
}

#homeimg{
    position: absolute;
    margin-left: 35%;
    height: 500px;
    margin-top: 100px;
    z-index: 0;
}
#homebuttons{
    margin-top: 25px;
}

#recreate-correct-text {
    font-size: 25px;
    position: absolute;
    top: 400px;
}


/* popup section */
#chord-tutorial img {
max-height:200px;
max-width:200px;
height:auto;
width:auto;
margin-top: -100px;
}

img.animated-gif{
    width: 560px;
    height: auto;
}

#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    z-index: 1001;
}
#check_but {
    top: 99.5%;
    left: 6%;
    position:absolute;
}
#popup {
    width: 650px;
    height: 550px;
    position:absolute;
    top: 20%;
    left:35%;
    background: #FFFFFF;
    border: 5px solid #000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    /* position: relative;
    top: 150px;
    left: 375px; */
}

.navbar-brand{
    font-style: italic;
    font-weight: 800;
}

#resultsPage{
    font-weight: bold;
    font-size: 30px;
 }

 #youScored{
    margin-top: 50px;
    text-align: center;
 }

 #score{
    margin-top: 50px;
    color: darkgray;
    font-size: 50px;
    text-align: center;
 }

 #popupButton{
        background-color: white;
        border-radius: 8px;
        border: 1px solid #e07a5fff;
        border-color: #e07a5fff;
        color: #e07a5fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        padding: 10px 12px;
        text-align: center;
        transition: all 200ms;
        vertical-align: baseline;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 10px;
        width: fit-content;
        height: 40px;
        margin-top: 32px;
        margin-left: -20px;
}

#tutorialText1{
    margin-top: 10px;
    font-weight: bold;
}

#tutorialText2{
    font-weight: bold;
    margin-top: -70px;
}

.next-button-centering {
    margin-left: 55px;
    margin-bottom: 40px;
}

#restartButton {
    margin-top: 20px;
}

#result-restart{
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-left: 400px;
    margin-right: 100px;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
    width: 100px;
    height: 40px;
  }

  #result-review{
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
    width: 100px;
    height: 40px;
  }

