{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<img id="homeimg" src="../static/images/homebg.png"/>

<div class="home">

    <div class="home-header">Chordology</div>
    <div class="homedesc"> Chords are an important fundamental in learning how to play guitar! Learn how to read a chord diagram, identify some basic chords, and test your newfound knowledge!</div>
    <div id="homebuttons">
        <button id="start-learning" class="home-button">Start Learning</button>
        <button id="test-yourself" class="home-button">Test Yourself!</button>
    </div>

</div>

{% endblock %}
