{% extends "layout.html" %}

{% block content %}

    <head>
        <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <script>
            let chordNumber = {{chordNumber|tojson}}
            let chords = {{chords|tojson}} 
            let correct_count = {{correct_count|tojson}}
            let incorrect_count = {{incorrect_count|tojson}}
            let remaining_count = {{remaining_count|tojson}}
        </script>

    </head>
    
    
    <body id = "body">

        <div id = "wholeTemplate">

            <div id = "restartButton" class="row">
                <a id = "ee">Restart</a>
                <h6 class="col">
                    Correct: <span id="correct"></span><br>
                    Incorrect: <span id="incorrect"></span><br>
                    Remaining: <span id="remaining"></span><br>
                </h6>
            </div>
    
            <div class = "row">
                <div class = "col-6">
                    <div id = "identify"> Identify this chord: </div>
                    <div id = "image"></div>
                </div>
                <div class = "col-6">
                    <div id = "rowOne"class = "row">
                        
                    </div>
                    <div id = "rowTwo" class = "row">
                        
                    </div>   
                    
                    <div id = "correctIncorrect" class = "row"></div>
                    <div id = "nextButton" class = "row">
                        <a id = "quiz-next">Next Question</a>
                    </div>
        

                </div>
            </div>

            <!-- <div id = "correctIncorrect" class = "row">
    
            </div> -->

            <!-- <div id = "nextButton" class = "row">
                <a id = "quiz-next">Next Question</a>
            </div> -->


        </div>
    
        <!-- {
            "id": 1,
            "choiceOne": "A",
            "choiceTwo": "Em",
            "choiceThree": "G",
            "choiceFour": "D",
            "answer": "Em",
            "image": "/images/em_chord.png"
            } -->
    
    
    </body>



{% endblock %}

